# Individual Assignment 1 by Jonas Hellevang

In [1]:
import pandas as pd
import numpy as np

## Question 1 
Open the dataset as a pandas DataFrame named imdb: please note that the file is .tsv type. Investigate what this is, and how to pass a different separator value sep="" when using pd.read_csv

In [2]:
# importing the data
imdb = pd.read_csv("./imdb_2019.tsv", sep = "\t")

## Question 2
How many types of titles are there in the column titleType? No for loops allowed! Check pandas.unique, pandas.Series.value_counts, set

In [3]:
# finding unique values in "titleType"
print("There are", len(imdb["titleType"].unique()), "types of titles in the column 'titleType', and these are:", 
      list(imdb["titleType"].unique()))

There are 10 types of titles in the column 'titleType', and these are: ['short', 'movie', 'tvMovie', 'video', 'tvSeries', 'tvEpisode', 'tvMiniSeries', 'tvSpecial', 'videoGame', 'tvShort']

## Question 3
Create a slice of imdb that only contains the following columns: \
• titleType, primaryTitle, startYear, runtimeMinutes

In [4]:
# slicing the dataframe
imdb_slice = imdb[["titleType", "primaryTitle", "startYear", "runtimeMinutes"]]

imdb_slice.sample(5)

        titleType                   primaryTitle  startYear  runtimeMinutes
140434  tvEpisode                    Bez naslova     2019.0             NaN
183824  tvEpisode    Chick-fil-A's Cowardly Cave     2019.0             NaN
276170  tvEpisode  Episode dated 4 February 2019     2019.0             NaN
223177  tvEpisode                  A Nova Guarda     2019.0             NaN
42697       short                  Segunda Opção     2019.0             NaN

## Question 4
Create a subset of imdb named tvEpisodes_2019 that only includes the type tvEpisodes

In [5]:
# creating a subset of imdb
tvEpisodes_2019 = imdb[imdb["titleType"] == "tvEpisode"]

tvEpisodes_2019.sample(5)

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
43509,1165141.0,tt10343644,tvEpisode,Find Peter Chadwick,Find Peter Chadwick,0.0,2019.0,NaN,43.0,NaN
288371,6533347.0,tt9794402,tvEpisode,Fawning over Salt and Pepper,Fawning over Salt and Pepper,0.0,2019.0,NaN,NaN,NaN
260304,6329077.0,tt9364380,tvEpisode,Creep,Creep,0.0,2019.0,NaN,41.0,NaN
161034,1635718.0,tt11163472,tvEpisode,Episode #1.858,Episode #1.858,0.0,2019.0,NaN,NaN,NaN
246032,5752277.0,tt8140750,tvEpisode,Space Invader,Space Invader,0.0,2019.0,NaN,22.0,NaN

## Question 5
Percentage of adult films over total releases in 2019. Check pd.Series.mean

In [6]:
# finfind percentage of adult films made in 2019
print("The percentage of adult films released in 2019 is", (pd.Series.mean(imdb["isAdult"] == True).round(4))*100, "%")

The percentage of adult films released in 2019 is 2.97 %

## Question 6
Create a column named words_in_title that contains the total number of
words in the title. Use map alongside a function or a lambda function.

In [7]:
# using map alongside lambda function
imdb["words_in_title"] = imdb["originalTitle"].map(lambda x: len(str(x).split(" ")))

imdb.sample(5)

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,words_in_title
92070,1361307.0,tt10687036,tvEpisode,Episode dated 23 July 2019,Episode dated 23 July 2019,0.0,2019.0,NaN,NaN,NaN,5
120369,1484390.0,tt10900724,tvEpisode,"September 3rd, 2019","September 3rd, 2019",0.0,2019.0,NaN,NaN,NaN,3
272206,6453373.0,tt9627156,tvEpisode,Jorge Sabe que lo Traicionan,Jorge Sabe que lo Traicionan,0.0,2019.0,NaN,NaN,NaN,5
221321,1897169.0,tt11620652,tvEpisode,Episode #1.415,Episode #1.415,0.0,2019.0,NaN,NaN,NaN,2
228482,1942019.0,tt11699130,tvEpisode,Episode #1.1825,Episode #1.1825,0.0,2019.0,NaN,NaN,NaN,2

## Question 7
What’s the average value of runtimeMinutes for the type short?

In [8]:
# finding average of category within a feature
print("Average runtime for the type 'short' is ", 
      imdb[imdb["titleType"] == "short"].mean()["runtimeMinutes"].round(2), "minutes")

Average runtime for the type 'short' is  12.54 minutes

## Question 8
Filter imdb to return tvMovie type with 3 or more words in the title, and less than 75 minutes of runTimeMinutes

In [9]:
# filtering
imdb[imdb["words_in_title"] >= 3][imdb["titleType"] == "tvMovie"][imdb["runtimeMinutes"] < 75]

/Users/Jonas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,words_in_title
10,290068.0,tt0302617,tvMovie,Great Bear Rainforest,Great Bear Rainforest,0.0,2019.0,NaN,41.0,NaN,3
77,970092.0,tt10002188,tvMovie,"La Sagi, una pionera del Barça","La Sagi, una pionera del Barça",0.0,2019.0,NaN,54.0,NaN,6
655,972490.0,tt10006422,tvMovie,Warrior Women of Dahomey,Warrior Women of Dahomey,0.0,2019.0,NaN,60.0,NaN,4
870,974152.0,tt10009314,tvMovie,Peter Kraus: Immer in Bewegung,Peter Kraus: Immer in Bewegung,0.0,2019.0,NaN,59.0,NaN,5
1549,977406.0,tt10015036,tvMovie,Arts Across the Heartland,Arts Across the Heartland,0.0,2019.0,NaN,42.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...
300451,6587871.0,tt9908916,tvMovie,Restless Legs Syndrome: The New Cure?,Restless Legs Syndrome: The New Cure?,0.0,2019.0,NaN,60.0,NaN,6
300975,6590161.0,tt9913680,tvMovie,Olympiad drömmen 2020,Olympiad drömmen 2020,0.0,2019.0,NaN,27.0,NaN,3
301155,6591048.0,tt9915520,tvMovie,Fascism i en svart bil,Fascism i en svart bil,0.0,2019.0,NaN,55.0,NaN,5
301240,6591316.0,tt9916112,tvMovie,"A Priest, a Rabbi, and a Nun walk into a...","A Priest, a Rabbi, and a Nun walk into a...",0.0,2019.0,NaN,21.0,NaN,10
301247,6591353.0,tt9916192,tvMovie,Danielle Darrieux: Il est poli d'être gai!,Danielle Darrieux: Il est poli d'être gai!,0.0,2019.0,NaN,53.0,NaN,7